/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-image: 
        repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), 
        repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --content-bg: #fff;
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', sans-serif;
    --regular-main-font: 400;
    --bold-main-font: 700;
    --main-color: #000;
    --content-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    --header-padding: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
    --header-logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --header-title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --shadow-color: #fff;
    --btn-text-clr: #fff;
    --contour-clr: #000;
    --main-body-clr: #ff0000;
}

@media (width <= 375px) {
    :root {
      --content-width: 100vw;
      --header-logo-size: clamp(0rem, 0rem + 13.0667vw, 3.0625rem);
      --header-title-size: clamp(0rem, 0rem + 3.7333vw, 0.875rem);
    }
}